anaconda-anon-usage 
archspec 
blinker==1.8.2
boltons
Bottleneck 
Brotli 
certifi 
cffi
charset-normalizer 
click 
colorama
conda 
conda-content-trust
conda-libmamba-solver 
conda-package-handling 
conda_package_streaming
contourpy
cryptography
cycler
distro
Flask==3.0.3
fonttools
frozendict
idna 
itsdangerous==2.2.0
Jinja2==3.1.4
joblib
jsonpatch 
jsonpointer==2.1
kiwisolver 
libmambapy
MarkupSafe==2.1.5
matplotlib 
menuinst
mkl-fft 
mkl-random 
mkl-service==2.4.0
nltk 
numexpr
numpy 
packaging
pandas 
pillow 
pipdeptree==2.23.1
platformdirs
pluggy 
ply
pycosat
pycparser
pyparsing 
PyQt5==5.15.10
PyQt5-sip 
PySocks 
python-dateutil 
pytz 
regex
requests 
ruamel.yaml
scikit-learn==1.5.1
scipy 
seaborn
setuptools==68.2.2
sip
six
threadpoolctl
tornado
tqdm
truststore 
tzdata
unicodedata2
urllib3
Werkzeug==3.0.3
wheel==0.41.2
win-inet-pton
zstandard==0.19.0
gunicorn
